
/* Tags */
body {
    background-color:#9993;
    padding: 15px;
}

h1 {
    color: steelblue;
}

li {
    padding: 2px;
    margin: 2px;
  
}
input {
    background-color: yellow;
    border: blue 3px solid;
    border-radius: 4px;
    margin-right: 5px;
}

/* Classes */
.listDiv {
background-color: lightgrey;
padding: 10px;
}

.saveButton {
    background-color: lightgreen;
    padding: 2px;
    border: green 2px solid;
    border-radius: 4px;
    margin-right: 5px;
    }

.deleteButton {
    background-color: pink;
    padding: 2px;
    border: red 2px solid;
    border-radius: 4px;
    margin-right: 5px;
    }
    

/* IDs */